/* *{
    padding: 0;
    margin: 0;
} */
body{
    background-color: black;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.movie-container{
    width: 1000px;
    margin: 40px auto;
}
input{
    width: 70%;
    padding: 12px;
    border-radius: 8px;
    font-size: 15px;
    box-sizing: border-box;
    border: 1px solid grey;
    background-color: black;
    color: white;
}
#btn{
    width: 25%;
    padding: 13px 25px;
    border: none;
    background-color: #FFD700;
    color: #000000; /* Gold */
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: 1s;
}
input:focus{
    border: 1px solid aqua;
    outline: none;
}
.search{
    display: flex;
    align-items: center;
    gap: 15px;
}
#btn:hover{
    background-color:aqua;
}

.details{
    display: flex;
    /* gap: 40px; */
    margin-top: 40px;
}
#img{
    border-radius: 8px;
    border: 1px solid ;
    outline: none;
    /* width: auto; */
    height: 400px;
}
#poster{
    margin-top: 150px;
    border-radius: 8px;
    border:2px solid #FFD700;
}
/* img{

    width: 100%;
    height: 100%;
} */
.image{
    width: auto;
    height: auto;
    border: 1px solid aqua;
    padding: 15px;
    border-radius: 15px;
    font-size: small;
    transition: 1s;
    /* margin-left: 20px; */
}
.card{
    width:auto;
    height: 200px;
    border: 1px solid aqua;
    border-radius: 15px;

}
#flex{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
/* #h{
    float: right;
    padding: 20px;
    width: auto;
} */
.image:hover{
    border: 1px solid #FFD700;

}
#pic{
    padding: 5px;
    /* border: 1px solid aqua; */
    border-radius: 25px;
    margin-top: 50px;
}
#pic:hover{
    border: 1px solid aqua;
}